{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block content %}
    {% if is_not_subscribed %}
        <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a></p>
    {% endif %}
    {% if category_list %}

    <p>&nbsp;</p>
    <h1 style="text-align: center;">Все посты</h1>
    <hr />

    <table width="100%" style="margin-top: 50px">

        <tr>
            <td><u>Заголовок</u></td>
            <td><u>Дата публикации</u></td>
            <td><u>Содержание</u></td>
            <td><u>Категория</u></td>
            <td><u>Тип публикации</u></td>

        </tr>
        {% for post in category_list %}
        <tr>
            <td>{{post.title}}</td>
            <td>{{post.time_post|date:' d M Y '}}</td>
            <td>{{ post.text|truncatewords:20|censor }}</td>
            <td>{% for category in post.categories.all %}
                    <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                {% endfor %}
            </td>
            <td>{{ post.choice }}</td>
        </tr>
        {% endfor %}


    </table>
    {% else %}
    <h3> Публикации не найдены </h3>
    {% endif %}
    <p>&nbsp;</p>
        <div>{% if page_obj.has_previous %}
            <a href="?{% url_replace page=1 %}">1</a>
            {% if page_obj.previous_page_number != 1 %}
                ...
                <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
        {% endif %}

        {{ page_obj.number }}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            {% if paginator.num_pages != page_obj.next_page_number %}
                ...
                <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
            {% endif %}
        {% endif %}</div>
{% endblock content %}